/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
	padding:0;
	margin:0;
	max-width: 100%;
	
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */


body {
	width: 800px;
	margin: auto;
}

header nav {
	display: inline-block;
	margin-top: 35px;
}

.navLink {
	margin: 0 20px;
	text-decoration: none;
	color: gray;
	opacity: 50%;

}
header img.logo{
	margin-left: 25px;
}
.container{
	padding: 4%;
	margin: 20px;
}
.container .left{
	display: inline-block;
	width: 49%;
	padding: 40px;
	vertical-align: middle;
}
h1{
	font-size: 50px;
	text-align: center;
}
.container .right{
	display: inline-block;
	width: 50%;
	vertical-align: middle;
}

button{
	margin-left: 23%;
	padding: 8px 32px;
	border-color: black;
	font-size: 13px;
	vertical-align: middle;
	background-color: white;
	font-weight: bold;
}

.topTwo{
	border-top: 1px solid black;
}
.topTwo .features{
	display: inline-block;
	width:49%;
	padding: 20px 0;
}
.topTwo .about{
	display: inline-block;
	width:49%;
	padding: 20px 0;
}
.bottomThree .services{
	display: inline-block;
	width:32%;
	padding: 20px 0;
}
.bottomThree .products{
	display: inline-block;
	width:32%;
	padding: 20px 30;
}
.bottomThree .vision{
	display: inline-block;
	width:32%;
	padding: 20px 0;
}
.contact{
	border-top: 1px solid black;
	margin-top: 10px;
}
.contact h3{
	margin-top: 20px;
}
.contact .info{
	margin-top: 20px;
}
footer{
	margin: 50px 0;
	text-align: center;
}
